{% extends "main/base.html" %}
{% block content %}
    <h3 style="text-align: center; margin-top: 35px;">
        10 Practice Trial Starts
    </h3>
    <p style="text-align: center;">You will now begin the practice trials. </p>
    <div class="row">
        <form action="{% url 'begin_train_view' %}" method="post">
            {% csrf_token %}
            <div class="text-center" style="text-align: center;">
                <button type="submit" class="btn btn-primary btn-lg" > Continue </button>
            </div>
        </form>
    </div>
    
</div>
{% endblock content %}