{% extends "main/base.html" %}
{% block content %}
{% load static %}
    <h3 style="text-align: center;">
        Feedback Explanation
    </h3>

    <div class="row">
        <div class="col-md-2"></div>

        <div class="col-md-8">

            <h3>
                Explanation: Feedback
            </h3>

            <div style="text-align: center; ">
                <img src="{% static 'images/feedback_correct.png' %}" alt="My image">
            </div>

            <div style="text-align: center; ">
                <img src="{% static 'images/feedback_incorrect.png' %}" alt="My image">
            </div>

            <div>
                After you respond “yes” or “no” to each question, you will immediately receive feedback. The feedback will tell you if you have made the correct or incorrect prediction.
            </div>

            <form action="{% url 'feedback_view' %}" method="post">
                {% csrf_token %}
                <div class="text-center" style="text-align: center;">
                    <button type="submit" class="btn btn-primary btn-lg" > Continue </button>
                </div>
            </form>
        </div>
        
        <div class="col-md-2"></div>
    </div>
    
</div>
{% endblock content %}