{% extends "main/base.html" %}
{% block content %}
    <h2> Welcome {{user.username}}! </h2>
    <h5 style="margin-top: 30px; margin-bottom: 30px;"> You have responded to {{responded_count}} items out of {{all_count}} items. </h5>
    <p> Out of {{responded_count}}, you've made {{n_correct_response}} correct response. </p>
    {% if user.is_staff %}
    <a class="btn btn-primary" href="{% url 'create-samples' %}">Create Samples</a>
    <a class="btn btn-warning" href="{% url 'reset-study' %}">Reset User Study</a>
    {% endif %}
    <a class="btn btn-info" href="{% url 'start-study' %}">Start User Study</a>
{% endblock content %}