{% extends "main/base.html" %}
{% block content %}
    <script>
      $(document).ready(function() {
      $('#my-dropdown').change(function() {
        var selectedDiv = $(this).val();
        $('.my-div').hide();
        $('#' + selectedDiv).show();
      });
    });
    </script>

    

    <!-- <div class="db_block">
        {% for table in study_sample.db %}
        <div class="card">
          <h6 class="card-header">
            {{ table.table_name }}
          </h6>
          <div class="card-body">
            <table class="table table-sm table-hover">
              <thead>
                <tr>
                  {% for column in table.columns %}
                    <th scope="col">{{ column }}</th>
                  {% endfor %}
                </tr>
              </thead>
              <tbody>
                {% for vals in table.values %}
                  <tr>
                    {% for v in vals %}
                      <td>{{ v }}</td>
                    {% endfor %}
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        {% endfor %}
    </div> -->
    <div>
      <p style="margin-top:25px;" id="view-database">
        <a class="btn btn-info" data-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample1">
          View Database
        </a>
      </p>
    
    <div class="collapse" id="collapseExample1">
      <div class="card card-body">
        <div class="db_block">
          <b style="padding-bottom: 20px;"> Database name: {{study_sample.db_name}} </b>
          <p><i>The database consists of {{study_sample.no_tables}} tables which are listed below, along with their respective sample records. Please note that due to limited space, not all records for tables are displayed here, but there are additional ones in the database.</i></p>
          {% for table in study_sample.db %}
          <div class="card">
            <h6 class="card-header">
              Table {{forloop.counter}}: {{ table.table_name }}
            </h6>
            <div class="card-body table-responsive">
              <table class="table table-sm table-hover">
                <thead>
                  <tr>
                    {% for column in table.columns %}
                      <th scope="col">{{ column }}</th>
                    {% endfor %}
                  </tr>
                </thead>
                <tbody>
                  {% for vals in table.values %}
                    <tr>
                      {% for v in vals %}
                        <td>{{ v }}</td>
                      {% endfor %}
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          {% endfor %}
      </div>
      </div>
    </div>
  </div>


        <div class="db_records_body card card-body">
          <div class="db_records_block">
              <div class="question">
                  <h3>Question</h3>
                  <p>{{ study_sample.question }}</p>
              </div>
          <h3>Model's Prediction </h3>
          <ol>
              {% for record in study_sample.db_records %}
              <li>
                {% for r in record %}
                  {% if not forloop.last %}
                    {{r}},
                  {% else %}
                    {{r}}
                  {% endif %}
                {% endfor %}
              </li>
              {% endfor %}
          </ol>
      </div>
  </div>


      <div class="model_exp_block">
        <h3>Model Explanation </h3>
        <select id="my-dropdown" >
            <option value="low1" class="dropdown-item">Low Transparency</option>
            <option value="mid1" class="dropdown-item">Mid Transparency</option>
            <option value="high1" class="dropdown-item">High Transparency</option>
        </select>
        <div class="model_exp_body card card-body">
            <div id="low1" class="my-div"><h5> The model has an overall confidence of {{study_sample.overall_conf}}% in making this prediction. ​</h5></div>

            <div id="high1" class="my-div" style="display: none">
              <h5> The model relied on the following steps/rules to generate the model’s predictions:  </h5>
              {% for comp_exp, comp_feature_attr, comp_conf, component_context in study_sample.full_comp_data%}
                <div class="card" style="background-color: rgba(245, 245, 245, 0.4); padding:10px; margin: 15px 0px;">
                  <p> 
                    <b>Step {{forloop.counter}}:</b> {{comp_exp}}. Note: The records in the table are only sample records meant for explanation of rules.(The model is highly confident ({{comp_conf}}%) about this step.)
                  </p>
              
                  {% for table in component_context %}
                  <div class="card">
                    <h6 class="card-header">
                      Table: {{table.table_name}}
                    </h6>
                    <div class="card-body table-responsive">
                      <table class="table table-sm table-hover">
                        <thead>
                          <tr>
                              {% for column in table.columns %}
                                <th scope="col">{{ column }}</th>
                              {% endfor %}
                          </tr>
                        </thead>
                        <tbody>
                            {% for vals in table.values %}
                              <tr>
                                {% for v in vals %}
                                  <td>{{ v }}</td>
                                {% endfor %}
                              </tr>
                            {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                  {% endfor %}



                  <div class="f-att" style="margin-top: 20px;">
                    <p> The model came up with this particular rule due to following highlighted words in question:​​ </p>
                    <div>
                      {% for ques1, e1 in comp_feature_attr %}
                              <span style="background-color: rgba(255, 106, 0, {{e1}}); padding: 0px 3px;">{{ques1}}</span>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
            <div id="high11" class="my-div" style="display: none">
              <h5> The model relied on the following steps/rules to generate the model’s predictions:  </h5>
              <div class="card" style="background-color: rgba(245, 245, 245, 0.4); padding:10px; margin: 15px 0px;">
                <p> <b>Step 1:</b> Sample records from cars_data table. Note: The records in the table are only sample records meant for explanation of rules. <a href="#view-database">Click here</a> to see the full database. (The model is highly confident (x%) about this step.)</p>
                
                <div class="card">
                  <h6 class="card-header">
                    Table: cars_data
                  </h6>
                  <div class="card-body">
                    <table class="table table-sm table-hover">
                      <thead>
                        <tr>
                            <th scope="col">id</th>
                            <th scope="col">mpg</th>
                            <th scope="col">cylinders</th>
                            <th scope="col">weight</th>
                            <th scope="col">accelerate</th>
                            <th scope="col">year</th>
                        </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td>1</td>
                              <td>18.0</td>
                              <td>8</td>
                              <td>3504.0</td>
                              <td>12.0</td>
                              <td>1970</td>
                          </tr>
                          <tr>
                              <td>2</td>
                              <td>15.0</td>
                              <td>8</td>
                              <td>3693.0</td>
                              <td>11.5</td>
                              <td>1971</td>
                          </tr>
                          <tr>
                              <td>3</td>
                              <td>18.0</td>
                              <td>8</td>
                              <td>3436.0</td>
                              <td>11.0</td>
                              <td>1970</td>
                          </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="f-att" style="margin-top: 20px;">
                  <p> The model came up with this particular rule due to following highlighted words in question:​​ </p>
                  <div>
                    {% for exp, exp1, conf, mid_desc in study_sample.feature_attr_mid1 %}
                          {% for ques1, e1 in exp %}
                            <span style="background-color: rgba(255, 106, 0, {{e1}}); padding: 0px 3px;">{{ques1}}</span>
                          {% endfor %}
                    {% endfor %}
                  </div>
                </div>

              </div>

              <div class="card" style="background-color: rgba(245, 245, 245, 0.4); padding:10px; margin: 15px 0px;">
                <p> <b>Step 2:</b> Group the records with the same year. (The model is highly confident (100.00%) about this step.)​</p>
                <div class="card card-body">
                  <table class="table table-sm table-hover">
                    <thead>
                      <tr>
                          <th scope="col">year</th>
                          <th scope="col">id</th>
                          <th scope="col">mpg</th>
                          <th scope="col">cylinders</th>
                          <th scope="col">weight</th>
                          <th scope="col">accelerate</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>18.0</td>
                            <td>8</td>
                            <td>3504.0</td>
                            <td>12.0</td>
                            <td>1970</td>
                        </tr>
                        <tr>
                          <td>3</td>
                          <td>18.0</td>
                          <td>8</td>
                          <td>3436.0</td>
                          <td>11.0</td>
                          <td>1970</td>
                      </tr>
                        <tr>
                            <td>2</td>
                            <td>15.0</td>
                            <td>8</td>
                            <td>3693.0</td>
                            <td>11.5</td>
                            <td>1971</td>
                        </tr>
                    </tbody>
                  </table>
                </div>
                <div class="f-att" style="margin-top: 20px;">
                  <p> The model came up with this particular rule due to following highlighted words in question:​​ </p>
                  <div>
                    {% for exp, exp1, conf, mid_desc in study_sample.feature_attr_mid2 %}
                          {% for ques1, e1 in exp %}
                            <span style="background-color: rgba(255, 106, 0, {{e1}}); padding: 0px 3px;">{{ques1}}</span>
                          {% endfor %}
                    {% endfor %}
                  </div>

                </div>
              </div>

              <div class="card" style="background-color: rgba(245, 245, 245, 0.4); padding:10px; margin: 15px 0px;">
                <p> <b>Step 3:</b> Choose the average value of weight and year. (The model is highly confident (99.98%) about this step.) ​</p>
                <div class="card card-body">
                  <table class="table table-sm table-hover">
                    <thead>
                      <tr>
                          <th scope="col">Average of weight</th>
                          <th scope="col">Year</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>3469.0</td>
                            <td>1970</td>
                        </tr>
                        <tr>
                            <td>3693.0</td>
                            <td>1971</td>
                        </tr>
                    </tbody>
                  </table>
                </div>
                <div class="f-att" style="margin-top: 20px;">
                  <p> The model came up with this particular rule due to following highlighted words in question:​​ </p>
                  <div>
                    {% for exp3, exp1, conf, mid_desc in study_sample.feature_attr_mid3 %}
                          {% for q3, e3 in exp3 %}
                            <span class="highlight" style="background-color: rgba(255, 106, 0, {{e3}}); padding: 0px 3px;">{{q3}}</span>
                          {% endfor %}
                    {% endfor %}
                  </div>

                </div>
              </div>
                <div style="background-color: #D5D5D5; padding: 5px 15px; margin-top: 10px; font-style: italic; font-weight: bold;">Note: Words highlighted with a stronger color indicate that the model relies more heavily on those words to generate the given output. </div>
            </div>

            <div id="mid1" class="my-div" style="display: none">
              <h5> The model came up with this prediction due to following highlighted words in question:​ </h5>
              {% for ques, feat in study_sample.ques_and_feat_attr %}
                  <span class="highlight" style="background-color: rgba(255, 106, 0, {{feat}}); padding: 0px 3px;">{{ques}}</span>
              {% endfor %}
                <div style="background-color: #D5D5D5; padding: 5px 15px; margin-top: 10px; font-style: italic; font-weight: bold;">Note: Words highlighted with a stronger color indicate that the model relies more heavily on those words to generate the given output. </div>
            </div>
            
        </div>
    </div>

    <form method = "POST">
      {% csrf_token %}
      <h3> Do you think this is a correct prediction? </h3>
      <button type="submit" name="btn_value" value="1" class="btn btn-primary btn-lg" style="margin-right:40px">Yes</button>
      <button type="submit" name="btn_value" value="0" class="btn btn btn-danger btn-lg" style="margin-right:40px">No</button>
      <!-- <button type="submit" name="btn_value" value="2" class="btn btn btn-warning btn-lg">Ask the expert</button> -->
    </form>
  </br>

{% endblock content %}