h3 {
    color: #000000;
    font-weight: bolder;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 22px;
  }

  h4{
    color: #000000;
    font-weight: bolder;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 20px;
  }
  .db_block{
    background: #F1F1F1;
    padding: 10px 10px;
    margin-top: 25px;
  }

  .natsql_block p{
    background-color: #FEFFDD;
    padding: 5px 10px;
  }
.db_records_block h3 span{
  font-size: 16px;
}
.model_exp_body{
  background-color: #F0F8FF;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  font-size: 17px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.db_records_body{
  margin-top: 25px;
}
.feedback_block{
  margin-top: 20px;
  margin-bottom: 30px;
}